body {
    background-color: orange;
    color: blue;
    font-family: Tahoma;
}
.introduccion {
    background-color: blue;
}
.descripcion {
    color: red;
    font-size: 1.5rem;

}
#pepito {
    color: whitesmoke;
}
a:link {
    background-color: green;
    color: salmon;
    text-decoration: underline;
}
a:visited {
    background-color: black;
    color: fuchsia;
}
a:hover {
    background-color: red;
    color: black;
}

h2 {
    color: red;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-style: italic;
    line-height: 1.6rem;
    font-weight: bold;/* normal */
    text-align: center;
    
}